<div class="container vh-100">
    <div class="row justify-content-center h-100">
        <div class="card my-auto shadow loginContainer">
            <div class="card-body px-5 py-5">
                <div class="text-center">
                    <!-- <fa-icon class="fa-3x"></fa-icon> -->
                </div>
                <div class="text-center">
                    <h2>Login</h2>
                </div>
                <form [formGroup]="loginForm" (ngSubmit)="userLogin()">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control"
                            name="email" formControlName="email">
                            <span *ngIf="email && email.invalid && email.touched" style="color: red;">Enter valid E-mail</span>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control"
                            name="password" formControlName="password">
                            <span *ngIf="password && password.invalid && password.touched" style="color: red;">valid password (min length 5 and max length 15)</span>
                    </div>
                    <button type="submit" class="btn btn-primary" >Submit</button>
                </form>
            </div>
            <div class="card-footer text-right">
                <small><a routerLink="./forgotPassword">Forgot Password</a></small>&nbsp;
                <small><a routerLink="./register">Register</a></small>
            </div>
        </div>
    </div>
</div>